@import url(http://fonts.googleapis.com/css?family=Lato);
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/transition";

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  background: #2c3e50;
  padding: 10px;
}

input {
  width: 400px;
  font-size: 18px;
  padding: 10px;
}

button.show {
  margin-top: 20px;
  font-size: 18px;
  height: 40px;
  width: 435px;
}

.keys {
  clear: both;

  & .key {
    display: block;
    float: left;
    height: 20px;
    padding-top: 100px;
    width: 30px;
    background: #fff;
    text-align: center;
    border: none;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0;
    position: relative;
    overflow: visible;
    font-size: 12px;

    &.blk {
      border: none;
      width: 20px;
      padding-top: 50px;
      height: 20px;
      background: #000;
      color: #fff;
      position: absolute;
      top: 0;
      right: -10px;
      z-index: 1;

      &.active {
        background: #2980b9 !important;
      }

    }

    &.active {
      background: #3498db !important;
    }

    &:first-child {
      border-left: 1px solid #000;
    }

  }

}

.fretboard {
  margin-top: 20px;

  & .string {
    clear: both;
  }

  & .fret {
    float: left;
    width: 70px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #bdc3c7;
    margin: 0 2px 2px 0;

    & span {
      height: 20px;
      width: 20px;
      display: inline-block;
      @include border-radius(10px);
      font-size: 10px;
      line-height: 20px;
      text-align: center;
      color: #fff;

      &.lowlight {
        background: #fff;
      }

      &.highlight {
        background: #f39c12;
      }

      &.root {
        background: #e74c3c;
      }

    }

    &[data-fret="0"] {
      width: 30px;
    }

    $highlight-frets: (0,3,5,7,9,12,15,17,19,22);
    @for $i from 0 to length($highlight-frets) {
      &[data-fret="#{nth($highlight-frets, $i+1)}"] {
        background: #95a5a6;
      }

    }

  }

}

.combos {
  margin-top: 20px;

  & li {
    float: left;
    margin-right: 5px;
    margin-bottom: 40px;

    & button {
      border: none;
      padding: 15px;
      outline: none;
      margin: 0;
      background: #bdc3c7;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background: #3498db;
      }
    }

  }

}

.clear {
  clear: both;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

p {
  color: #fff;
  margin-bottom: 20px;
  line-height: 20px;
}