@import url(http://fonts.googleapis.com/css?family=Lato);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body { font-family: 'Lato', sans-serif; font-size: 15px; background: #2c3e50; }

.container{padding: 10px; }

input { width: 400px; font-size: 18px; padding: 10px; }

button.show { margin-top: 20px; font-size: 18px; height: 40px; width: 435px; }

.keys { clear: both; }
.keys .key { display: block; float: left; height: 20px; padding-top: 100px; width: 30px; background: #fff; text-align: center; border: none; border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000; margin: 0; position: relative; overflow: visible; font-size: 12px; }
.keys .key:hover { cursor: pointer; }
.keys .key.blk { border: none; width: 20px; padding-top: 50px; height: 20px; background: #000; color: #fff; position: absolute; top: 0; right: -10px; z-index: 1; }
.keys .key.blk.active { background: #2980b9 !important; }
.keys .key.active { background: #3498db !important; }
.keys .key:first-child { border-left: 1px solid #000; }

.fretboard { margin-top: 20px; }
.fretboard .string { width: 78%; clear: both; position: relative; }
.fretboard .string > span.bit { display: block; position: absolute; top: 9px; width: inherit; border-bottom: 2px solid #7f8c8d; border-right: 32px solid #7f8c8d; z-index: 10; }
.fretboard .string > span.bit.string6 { border-bottom: 4px solid #7f8c8d; }
.fretboard .string > span.bit.string5, .fretboard .string > span.bit.string4 { border-bottom: 3px solid #7f8c8d; }
.fretboard .string > span.bit.string1 { border-bottom: 1px solid #7f8c8d; }
.fretboard .fret { float: left; width: 5%; border-right: 2px solid #000; height: 20px; line-height: 20px; text-align: center; background: #fee9b4; background-image: url("wood.png"); position: relative; }
.fretboard .fret span { position: relative; z-index: 1; margin-top: 1px; height: 18px; width: 18px; display: inline-block; -webkit-border-radius: 9px; -moz-border-radius: 9px; -ms-border-radius: 9px; -o-border-radius: 9px; border-radius: 9px; font-size: 10px; line-height: 20px; text-align: center; color: #fff; z-index: 20; }
.fretboard .fret span.lowlight { background: rgba(231, 76, 60, 0.3); }
.fretboard .fret span.highlight { background: #e67e22; -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 190, 0.75); -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 190, 0.75); box-shadow: 0px 0px 5px 1px rgba(255, 255, 190, 0.75); }
.fretboard .fret span.root { background: #e74c3c; }
.fretboard .fret[data-fret="0"] { width: 3%; border-right: 4px solid #000; background: #2c3e50; }
.fretboard .fret[data-fret="3"][data-string="3"]:after, .fretboard .fret[data-fret="5"][data-string="3"]:after, .fretboard .fret[data-fret="7"][data-string="3"]:after, .fretboard .fret[data-fret="9"][data-string="3"]:after, .fretboard .fret[data-fret="12"][data-string="1"]:after, .fretboard .fret[data-fret="12"][data-string="4"]:after, .fretboard .fret[data-fret="15"][data-string="3"]:after, .fretboard .fret[data-fret="17"][data-string="3"]:after, .fretboard .fret[data-fret="19"][data-string="3"]:after { content: ""; display: block; position: absolute; left: 50%; top: 1px; height: 18px; width: 18px; margin: 10px -10px; display: inline-block; -webkit-border-radius: 9px; -moz-border-radius: 9px; -ms-border-radius: 9px; -o-border-radius: 9px; border-radius: 9px; background: rgba(0, 0, 0, 0.1); z-index: 1; }
.fretboard .fret[data-fret="12"][data-string="1"]:after, .fretboard .fret[data-fret="12"][data-string="4"]:after { top: 10px; }

.combos { margin-top: 20px; }
.combos li { display: inline-block; margin-right: 5px; margin-bottom: 40px; }
.combos li button { border: none; width: 30px; height: 30px; padding: 0; outline: none; margin: 0; background: #bdc3c7; }
.combos li button:hover { cursor: pointer; }
.combos li button.active { background: #3498db; }

.clear { clear: both; }

h1, h2 { font-size: 30px; font-weight: bold; text-transform: uppercase; color: #fff; margin-bottom: 20px; }

h2 { text-transform: none; font-size: 18px; font-weight: normal; }

p { color: #fff; margin-bottom: 20px; line-height: 20px; }

#share { float: right; }
#share .button { float: left; margin-left: 10px; }
