@import url(http://fonts.googleapis.com/css?family=Lato);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body { font-family: 'Lato', sans-serif; font-size: 15px; background: #2c3e50; padding: 10px; }

input { width: 400px; font-size: 18px; padding: 10px; }

button.show { margin-top: 20px; font-size: 18px; height: 40px; width: 435px; }

.keys { clear: both; }
.keys .key { display: block; float: left; height: 20px; padding-top: 100px; width: 30px; background: #fff; text-align: center; border: none; border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000; margin: 0; position: relative; overflow: visible; font-size: 12px; }
.keys .key.blk { border: none; width: 20px; padding-top: 50px; height: 20px; background: #000; color: #fff; position: absolute; top: 0; right: -10px; z-index: 1; }
.keys .key.blk.active { background: #2980b9 !important; }
.keys .key.active { background: #3498db !important; }
.keys .key:first-child { border-left: 1px solid #000; }

.fretboard { margin-top: 20px; }
.fretboard .string { clear: both; }
.fretboard .fret { float: left; width: 70px; height: 20px; line-height: 20px; text-align: center; background: #bdc3c7; margin: 0 2px 2px 0; }
.fretboard .fret span { height: 20px; width: 20px; display: inline-block; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; font-size: 10px; line-height: 20px; text-align: center; color: #fff; }
.fretboard .fret span.lowlight { background: #fff; }
.fretboard .fret span.highlight { background: #f39c12; }
.fretboard .fret span.root { background: #e74c3c; }
.fretboard .fret[data-fret="0"] { width: 30px; }
.fretboard .fret[data-fret="0"] { background: #95a5a6; }
.fretboard .fret[data-fret="3"] { background: #95a5a6; }
.fretboard .fret[data-fret="5"] { background: #95a5a6; }
.fretboard .fret[data-fret="7"] { background: #95a5a6; }
.fretboard .fret[data-fret="9"] { background: #95a5a6; }
.fretboard .fret[data-fret="12"] { background: #95a5a6; }
.fretboard .fret[data-fret="15"] { background: #95a5a6; }
.fretboard .fret[data-fret="17"] { background: #95a5a6; }
.fretboard .fret[data-fret="19"] { background: #95a5a6; }
.fretboard .fret[data-fret="22"] { background: #95a5a6; }

.combos { margin-top: 20px; }
.combos li { float: left; margin-bottom: 40px; }
.combos li button { border: none; padding: 15px; outline: none; }
.combos li button:hover { cursor: pointer; }
.combos li button.active { background: #3498db; }

.clear { clear: both; }

h1 { font-size: 30px; font-weight: bold; text-transform: uppercase; color: #fff; margin-bottom: 20px; }

p { color: #fff; margin-bottom: 20px; line-height: 20px; }
